html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #8ecae6;
  font-family: "Fredoka One", cursive;
}

header {
  padding: 1em;
}

h1 {
  font-size: 5em;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
  text-align: center;
  color: #ffb703;
}

main {
  display: flex;
  justify-content: space-around;
}

.drawing-area {
  display: flex;
  flex-direction: column;
  width: 710px;
  height: 710px;
  border: 30px solid #023047;
  border-radius: 20px;
}

.tools {
  background-color: #023047;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.row {
  display: flex;
  flex: 1;
}

.pixel {
  flex: 1;
  background-color: white;
}

input[type="color"] {
  -webkit-appearance: none;
  margin: 2em;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.eraser {
  transition: all 0.5s ease;
  background-color: #219ebc;
  color: #fff;
  font-size: 2em;
  padding: 0.6em 1.4em;
  margin: 1em;
  border-radius: 20px;
}

button:hover {
  transition: all 0.2s ease;
  color: #023047;
  background-color: #fff;
}

button:active {
  transition: all;
  box-shadow: 0 5px #ffb703;
  transform: scale(0.98);
}

img {
  width: 24px;
  height: 24px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
}
